@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
    &--centrar {
        @extend .acciones;
        justify-content: center;
    }

    &__enlace{
        font-size: 1.6rem;
        font-weight: v.$delgada;
        color: v.$negro;
    }

}