@use 'base/variables' as v;
@use 'base/mixins' as m;

.horas{
    @include m.resetLista;
    @include m.grid(1, 1rem);
    @include m.tablet {
        @include m.grid(2, 1rem);
    }

    &__hora{
        color: v.$azul;
        border: 1px solid v.$azul;
        border-radius: .5rem;
        padding: 1rem;
        text-align: center;
        

        &:hover{
            cursor: pointer;


        }
        &--seleccionada {
            @extend .horas__hora;
            color: v.$blanco;
            background-color: v.$azul;

        }
        &--deshabilitada {
            @extend .horas__hora;
            border: 1px solid v.$gris;
            color: v.$gris;
            opacity: .5;

            &:hover{
                cursor: not-allowed;
            }
        }
        &--habilitada {
            @extend .horas__hora;
            &:hover{
                cursor: pointer;
                color: v.$blanco;
                background-color: v.$azul;
    
            }
        }


    }
}